<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>frontend</title>
        <link href= /static/blueprint_static/publicationapi/static/css/app.fb3b7b601fdcf45710d825e8e80c4407.css rel=stylesheet>
        
    </head>
    <body>
        <div id=app></div>
        <script type=text/javascript src=/static/blueprint_static/publicationapi/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
        <script type=text/javascript src=/static/blueprint_static/publicationapi/static/js/vendor.4f96a6e38184d38628e6.js></script>
        <script type=text/javascript src=/static/blueprint_static/publicationapi/static/js/app.a9b9183afa9a2e0baa6d.js></script>
    </body>
</html>