{% extends 'base.html' %}

{% block title %} Restore password {% endblock %}

{% block content %}
    
    <h1><b> Restaurar contraseña </b></h1>
    {% from "_macro.html" import render_field %}

    <form action="{{request.path}}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    {{ render_field(form.password, autofocus = true, class="form-control") }}
                </div>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_field(form.confirm, class="form-control") }}
            </div>
        </div>

        {{ form.honeypot }}

        <br>
        <div id="success"></div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>

    </form>
{% endblock content %}